
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href='https://fonts.googleapis.com/css?family=Sofia' rel='stylesheet'>
</head>
<div class="container-fluid o " style="background-color:#383838 ">
  <div class="row ">
    <div class="col-sm-12 " style="display: inline-flex;">
      <h1 class="j mt-4"><b><i>ShoppingBee!</i></b></h1>
      <h3 class="text-light ml-auto h" ><b><span class="i"><u>Bag</u></span>-----------Address----------Payment</b></h3>
      <h3 class="k  ml-auto h"><b>100% SECURE</b></h3>
    </div>
  </div>


<div class="container-fluid bg-light mt-5">
  <div class="row">
    <div class="col-sm-8 bg-light">

      <div *ngFor="let p of cart">

          <div class="item1" style="display: flex;">
            <div><img src="../../assets/images/{{p.items.image}}"></div>
            <div style="margin-left:200px;margin-top:70px; "><p><b>Product Name:</b> {{p.items.productName}}</p>
              <p><b>Product Quantity:&nbsp;&nbsp;</b>
                <span><button type="button" class="btn btn-outline-secondary" (click)="decreaseproduct(p.items.productid)">-</button></span>
              &nbsp;<span>{{p.quantity}}</span>&nbsp;&nbsp;
                <span><button type="button" class="btn btn-outline-secondary" (click)="increaseproduct(p.items.productid)">+</button></span></p>
              <div><b>Product Price:</b>{{p.items.productPrice}}</div>
              <br />
              <button class="btn btn-danger" (click)="deleteproduct(p.items.productid)">Remove</button></div>


<hr />
            <hr />
        </div>
      </div>
      <br/>


      <!--      <div class="item1">-->
      <!--        <div><img src="assets/shirt4.jpg"></div>-->
      <!--        <div ><p>Men's T-shirt4</p>-->
      <!--          <span>Qty:1</span>&nbsp;<span>Size:M</span><br><br/>-->
      <!--          <button class="btn btn-danger">Remove</button></div>-->
      <!--        <div>Price:Rs.600</div>-->

      <!--      </div>-->





    </div> <!-- This is col-sm-4 div --->


 <!--   <div class="col-sm-4 column8">
      <div class="bag p-2">PRICE DETAILS</div>
      <div class="price py-2">
        <div>Bag Total</div>
        <div>Rs.1200</div>
      </div>-->
    <div class="col-sm-4 column8" style="background-color: #303030">
     <!-- <div class="bag p-2"><b>PRICE DETAILS</b></div>-->
    <h3 class="text-light mx-auto "><b>PRICE DETAILS</b></h3>
      <div class="price py-2">
        <h5 class="text-light">Bag Total: Rs.{{total}}</h5>

      </div>



      <hr/>

      <button (click)="checkout()" class="btn btn-light btn-block">CheckOut</button>

     <!-- This is col-sm-8 div --->
  </div>  <!-- This is row div -->
</div>  <!--- This is container div -->

</div>
</div>
