<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Example</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script src='https://kit.fontawesome.com/a076d05399.js'></script>
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 </head>
 <body>
 <!-- <app-nav-bar></app-nav-bar>-->
 <div class="container-fluid " style="background-color:#383838">
   <div class=row>
     <div class=" col-sm-12" style="display:inline-flex;">
       <h4 class="mt-3 text-light"><i><b>Welcome to ShoppingBee!</b></i></h4>

    <!--   <button type="button" class="btn btn-light btn-text-black ml-auto mt-4"><b><span class="badge badge-dark"><i class="fa fa-plus"></i></span>&nbsp;&nbsp;Add Products</b></button>-->
       <button type="button" class="btn btn-light btn-text-black ml-2 mt-4 ml-auto " routerLink="/login"><b><span class="badge badge-dark"><i class="fa fa-user"></i></span>&nbsp;&nbsp;Login</b></button>
       <button type="button"  class="btn btn-light btn-text-black  ml-2 mt-4" routerLink= "/signup"><b><span class="badge badge-dark"><i class="fa fa-shopping-cart" ></i></span>&nbsp;&nbsp;Sign Up</b></button>
       <!--<button type="button" class=" btn-text-black  ml-2 mt-4" style="background-color:#f2d9e6"><b><span class="badge badge-dark"><i class="fa fa-sign-out"></i></span>&nbsp;&nbsp;Log Out</b></button>-->
     </div>
   </div>
 </div>
<div class="container-fluid">
    <div class="row">
<div class =" col-sm-12" style="background-color:#383838; ">
  <form>
          <div class="input-group mb-3 mt-3 h">
                  <input type="text" class="form-control" placeholder="Search" id="mail" name="email">
                  <div class="input-group-append">
                    <span class="input-group-text bg-light" href="#"><b><i class="fa fa-search " style="color:#303030"></i></b></span>
                  </div>
                </div>
              </form>
                </div>

                </div>

                </div>
                <div class="container-fluid k " style="padding-left:0px;padding-right:0px; ">
                    <div class="row ">

                    <div class="col-sm-12 " >
                <nav class="navbar navbar-expand-sm t  " style="background-color:#ecc6c6 ">
                    <ul class="navbar-nav ">

                    </ul>
                </nav>
                </div>
                </div>
                </div>
                <div id="demo" class="carousel slide" data-ride="carousel">

                    <!-- Indicators -->
                    <ul class="carousel-indicators">
                      <li data-target="#demo" data-slide-to="0" class="active"></li>
                      <li data-target="#demo" data-slide-to="1" ></li>
                      <li data-target="#demo" data-slide-to="2" ></li>
                    </ul>

                    <!-- The slideshow -->
                    <div class="carousel-inner">
                      <div class="carousel-item active">
                        <img srcset="../../assets/images/bg_5.jpg 6000w" alt="Los Angeles" width="1100" height="500">
                      </div>
                      <div class="carousel-item">
                        <img src="../../assets/images/vero.jpg" alt="Chicago" width="1100" height="500">
                      </div>
                      <div class="carousel-item">
                        <img srcset="../../assets/images/sportss.jpg" alt="New York" width="1100" height="500">
                      </div>

                    </div>

                    <!-- Left and right controls -->

                  </div>
                  <br />
                  <br />
                <h1 class="text-center" style="color:brown "><b>BIGGEST NAME IN THE BIZ</b></h1>
                <h2 class="text-center"style="color:brown ">Grab your favourite brands!</h2>
                <hr />
                <br />
                <br />

                <div class="container-fluid"style=" background-color:#383838">
                    <div class="row">
                        <div class="col-sm-12">
                            <img src="../../assets/images/veros.jpg"style="width:400px; height:150px;">
                            <img src="../../assets/images/ucb.png"style="width:400px; height:150px;">
                            <img src="../../assets/images/guess.png"style="width:400px; height:150px;">
                            <img src="../../assets/images/only.png"style="width:400px; height:150px;">
                            <img src="../../assets/images/libas.png"style="width:400px; height:150px;">
                            <img src="../../assets/images/jack.png"style="width:400px; height:150px;">
                            <img src="../../assets/images/dressberry.jpg"style="width:400px; height:150px;">
                            <img src="../../assets/images/for.jpg"style="width:400px; height:150px;">
                        </div>
                    </div>
                </div>
<br />
<br />

                  <h1 class="text-center"><b>BIG ON STYLES,BIGGER ON DISCOUNT!</b></h1>

                  <hr />
                  <div class="container-fluid" style=" background-color:#383838">
                      <div class="row">
                          <div class="col-sm-12 ">
                              <img src="../../assets/images/product-1.jpg  " style="width: 300px;height:300px; margin-left:70px ;">
                              <img src="../../assets/images/product-2.jpg "style="width: 300px;height:300px;">
                              <img src="../../assets/images/product-8.jpg "style="width: 300px;height:300px;">
                              <img src="../../assets/images/product-5.jpg "style="width: 300px;height:300px;">
                              <img src="../../assets/images/product-3.jpg "style="width: 300px;height:300px;">
                          </div>
                      </div>
                    </div>
                    <br />
                    <br />
                    <hr />
                    <div class="container-fluid " style="margin-left:5px; margin-right:30px;border-right-width: 5px; background-color:aliceblue">
                            <div class="row">
                                <div class="col-sm-12" style="border: 5px solid black; border-radius:20px;" >
                                    <div style="display: flex">
                                    <div>
                                    <h1 class="mt-5"><b>MID-RANGE</b></h1>
                                    <h1 class="text-center"><b>MOBILES</b></h1>
                                    <br />

                                    </div>
                                    <div>
                                    <img src="../../assets/images/mobile1.jpg"style="width: 300px;height:350px;"class="mt-3 ml-5">
                                    <h4 class="ml-3 text-center"><b>Motorolo One Vision</b></h4>
                                <h4 class="text-center text-success">FLAT Rs.8000 Off</h4>
                                <p class="text-center text-secondary">NOW Rs.14,999</p>
                                    </div>
                                    <div>
                                    <img src="../../assets/images/mobile2.jpg"style="width: 300px;height:350px;"class="mt-3 ml-5">
                                <h4 class="ml-3 text-center"><b>REDMI Note 5 Pro</b></h4>
                                <h4 class="text-center text-success">FLAT Rs.7000 Off</h4>
                                <p class="text-center text-secondary">NOW Rs.11,000</p>
                                </div>
                                    <div><img src="../../assets/images/mobile4.jpg"style="width: 300px;height:350px;"class="mt-3 ml-5">
                                        <h4 class="ml-3 text-center"><b>OPPO K1</b></h4>
                                        <h4 class="text-center text-success">Now at Rs.9990</h4>
                                        <p class="text-center text-secondary">*Inclu Rs.1000 off on prepaid</p>
                                    </div>
                                    <div><img src="../../assets/images/mobile3.webp"style="width: 230px;height:350px;"class="mt-3 ml-5">
                                        <h4 class="ml-3 text-center"><b>Samsung Galaxy A50</b></h4>
                                        <h4 class="text-center text-success">Upto Rs.2500 on Exch.</h4>
                                        <p class="text-center text-secondary">From 16,999</p>
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />
                        <br />
                      <div class="container-fluid" style="background-color:#ecc6c6;height:40px">
                          <div class="row">
                              <div class="col-sm-12">

                              </div>
                          </div>
                      </div>

                    <footer class="page-footer font-small indigo" style="background-color:#303030">

                            <!-- Footer Links -->
                            <div class="container text-center text-md-left">

                              <!-- Grid row -->
                              <div class="row">

                                <!-- Grid column -->
                                <div class="col-md-3 mx-auto">

                                  <!-- Links -->
                                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">ONLINE SHOPPING</h5>

                                  <ul class="list-unstyled text-light">

                                        <li><a href="#" class="text-light">Men</a></li>
                                        <li><a href="#" class="text-light">Women</a></li>
                                        <li><a href="#" class="text-light">Kids</a></li>

                                        <li><a href="#" routerLink="/books" class="text-light">Books</a></li>
                                        <li><a href="#"routerLink="/electronics" class="text-light">Electronics</a></li>
                                        <li><a href="#" routerLink="/sports"class="text-light">Sports</a></li>

                                    </ul>
                                </div>
                                <!-- Grid column -->

                                <hr class="clearfix w-100 d-md-none">

                                <!-- Grid column -->
                                <div class="col-md-3 mx-auto">

                                  <!-- Links -->
                                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">USEFUL LINKS</h5>

                                  <ul class="list-unstyled">

                                        <li><a href="#" class="text-light" >Contact Us</a></li>
                                        <li><a href="#" class="text-light">T & C</a></li>
                                        <li><a href="#" class="text-light">Terms of use</a></li>
                                        <li><a href="#" class="text-light">Track Orders</a></li>
                                        <li><a href="#" class="text-light">Shipping</a></li>
                                        <li><a href="#" class="text-light">Cancelation</a></li>
                                        <li><a href="#" class="text-light">Returns</a></li>

                                  </ul>
                                </div>
                                <!-- Grid column -->

                                <hr class="clearfix w-100 d-md-none">

                                <!-- Grid column -->
                                <div class="col-md-3 mx-auto">

                                  <!-- Links -->
                                  <h5 class="font-weight-bold text-uppercase mt-3 mb-4 text-light">KEEP IN TOUCH</h5>


                                    <div style="display: flex">
                                          <p style="font-size: 40px"> <span class="bagde badge-light"><a href="#" class="fa fa-facebook text-secondary"></a></span></p>
                                           <p class="ml-3 "style="font-size: 40px"><span class="bagde badge-light" ><a href="#" class="fa fa-twitter text-secondary "></a></span></p>
                                          <p class="ml-3"style="font-size: 40px"> <span class="bagde badge-light"><a href="#" class="fa fa-google text-secondary"></a></span></p>
                                           <p class="ml-3"style="font-size: 40px"><span class="bagde badge-light"><a href="#" class="fa fa-instagram text-secondary"></a></span> </p>
                                    </div>


                                </div>
                                <!-- Grid column -->

                                <hr class="clearfix w-100 d-md-none">

                                <!-- Grid column -->
                                <div class="col-md-3 mx-auto">

                                  <!-- Links -->
                                  <ul class="list-unstyled">
                               <li class="text-light mt-5">
                                    <i class='far fa-check-circle' style='font-size:24px'></i>  <b>&nbsp;&nbsp;100% ORIGINAL</b><span>gurantee
                                           all the products at ShoppingBee.com</span>
                                  </li>
                                  <li class="text-light mt-3 ">
                                        <i class='fas fa-exchange-alt' style='font-size:24px'></i> <b>&nbsp;&nbsp;RETURN WITHIN 30 DAYS</b><span>of
                                             receving your orders</span>
                                    </li>
                                    <li class="text-light mt-3">
                                            <i class='fas fa-car-side' style='font-size:24px'></i>   <b>&nbsp;&nbsp;GET FREE DELIVERY</b><span>for every
                                                 orders above Rs.1000</span>
                                        </li>
                          </ul>
                                </div>
                                <!-- Grid column -->

                              </div>
                              <!-- Grid row -->

                            </div>
                            <!-- Footer Links -->

                            <!-- Copyright -->
                           <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
                              <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
                            </div>-->
                         <!--   <div class="container-fluid" style="background-color:grey ">
                                <div class="row">
                                    <div class="col-sm-12">
 <div class="footer-copyright text-center py-3">© 2018 Copyright:
                              <a href="https://mdbootstrap.com/education/bootstrap/" class="text-dark"> ShoppingBee.com</a>
                            </div>
                                    </div>
                                </div>
                            </div>-->
                            <!-- Copyright -->

                          </footer>
                          <!-- Footer -->

